h1 {
    text-align: center;
    background-color:coral;
    color:teal;
}

h5 {
    text-align: center;
    font-style: italic;
}

#portada{
    display:block;
    margin:auto;
    }

h2 {
    color: coral;
}

h4 {
    font-style:italic;
    font-size: large
}

p {
    font-style: italic;
}

body{
    background-color:antiquewhite
}